body{
    background-image: url('/images/green.jpg');
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: bold;

}

h1{
    color: goldenrod;
    font-size: 4rem;
}

#message-el {
    font-size: 2rem;
    font-weight: bold;
    color: whitesmoke;
    font-style: italic;
}

p{
    color: whitesmoke;
    font-size: 2rem;
    font-weight: bold;
}

button {
    display: block;
    width: 150px;
    color: #016f32;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto; 
}

button:hover{
    background: #d2691e;
    color: goldenrod;
}